.ainz{
    min-height: 35vh;
    display: flex;
    align-items: baseline;
    justify-items: left;

}
.ainz img{
    width: 20rem;
    z-index: 2;
    transition: all 0.75s ease-out;
    
}

.ainz-square {
    height: 30rem;
    background: linear-gradient(
        to left,
        rgba(68, 9, 134, 0.7),
        rgba(6, 7, 58, 0.7)
    );
    position: absolute;
    top: 14px;
    left: 33px;
    width: 14rem;
    border-radius: 2.5%;
    z-index: 1;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.4);
    transition: all 0.75s ease-out;

}

/* status */

.ainz-hp-full {
    width: 10rem;
    height: 10px;
    background-color:#9c00cc;
 }
 .ainz-mp-full {
    width: 24rem;
    height: 10px;
    background-color:#9c00cc;
 }
 .ainz-phy-atk-full {
    width: 8rem;
    height: 10px;
    background-color:#9c00cc;
 }
.ainz-phy-def-full {
    width: 15rem;
    height: 10px;
    background-color:#9c00cc;
 }
.ainz-agility-full {
    width: 9rem;
    height: 10px;
    background-color:#9c00cc;
 }

.ainz-mag-atk-full {
    width: 19rem;
    height: 10px;
    background-color:#9c00cc;
 }

.ainz-mag-def-full {
    width: 20rem;
    height: 10px;
    background-color:#9c00cc;
 }

.ainz-resist-full {
    width: 20rem;
    height: 10px;
    background-color:#9c00cc;
 }

.ainz-special-full {
    width: 21rem;
    height: 10px;
    background-color:#9c00cc;
 }

/* Phones */

 /* small screens */
 @media (max-width: 900px) {
    .ainz-square {
        width: 12rem;
    }
    .ainz img {
        width: 18rem;
    }
}