
.Shalltear_Bloodfallen{
    min-height: 35vh;
    display: flex;
    align-items: baseline;
    justify-items: left;

}
.Shalltear_Bloodfallen img{
    width: 21rem;
    z-index: 2;
    transition: all 0.75s ease-out;
    
}

.Shalltear_Bloodfallen-square{
    height: 30rem;
    background: linear-gradient(
        to left,
        #bc1672,
        #1f0e30
    );
    position: absolute;
    top: 14px;
    left: 33px;
    width: 14rem;
    border-radius: 2.5%;
    z-index: 1;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.4);
    transition: all 0.75s ease-out;

}

/* Racial level (border-level) */

.Shalltear_Bloodfallen-border-level {
    position: absolute;
    top: 28rem;
    right: 27px;
    width: 17rem;
    font-family: 'Times New Roman', Times, serif;
    width: 250px;
    align-items: center;
    transition: all 0.75s ease-out;

}

.Shalltear_Bloodfallen-class1, .Shalltear_Bloodfallen-class2{
	border: 1px solid #000000;
	display: table-cell;
	padding: 3px 10px;
    column-span: 1;
}
.Shalltear_Bloodfallen-class1 {
    columns: 2;
    background-color:#ff000d;
}
.Shalltear_Bloodfallen-class2 {
     columns: 8;
     background-color: rgba(18, 148, 18, 0.7);
}

/* status */
.Shalltear_Bloodfallen-hp-full {
    width: 19rem;
    height: 10px;
    background-color:#9c00cc;
 }
 .Shalltear_Bloodfallen-mp-full {
    width: 16rem;
    height: 10px;
    background-color:#9c00cc;
 }
 .Shalltear_Bloodfallen-phy-atk-full {
    width: 19rem;
    height: 10px;
    background-color:#9c00cc;
 }
.Shalltear_Bloodfallen-phy-def-full {
    width: 18rem;
    height: 10px;
    background-color:#9c00cc;
 }
.Shalltear_Bloodfallen-agility-full {
    width: 16rem;
    height: 10px;
    background-color:#9c00cc;
 }

 .Shalltear_Bloodfallen-mag-atk-full {
    width: 18rem;
    height: 10px;
    background-color:#9c00cc;
 }

 .Shalltear_Bloodfallen-mag-def-full {
    width: 16rem;
    height: 10px;
    background-color:#9c00cc;
 }

 .Shalltear_Bloodfallen-resist-full {
    width: 18rem;
    height: 10px;
    background-color:#9c00cc;
 }

 .Shalltear_Bloodfallen-special-full {
    width: 18.3rem;
    height: 10px;
    background-color:#9c00cc;
 }

 /* small screens */
 @media (max-width: 900px) {
    .Shalltear_Bloodfallen-square {
        width: 12rem;
    }
    .Shalltear_Bloodfallen img {
        width: 18rem;
    }
}