*{
    margin: 3px;
    padding: 0;
    box-sizing: border-box;

}

body{
    justify-content: center;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    perspective: 1000px;
    background-color: #C4C4C4;

}

.container {
    width: 100vh;
    transform: translate(-50,-50);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    transform-style: preserve-3d;
    background-color: #C4C4C4;
    min-height: 80vh;
    width: 62vh;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 -20px 50px rgba(0, 0, 0, 0.4);
}
/* upper part */

.info {
    position: absolute;
    top: 4px;
    right: 3px;
    width: 18rem;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.75s ease-out;

}

.title {
    display: flex;
    justify-content: space-between;
    
}
.race {
    display: flex;
    font-size: 15px;
}

.lines {
    width: 17rem;
    height: 2px;
    background: black;
    margin: 5px;
} 
.upperline {
    width: 2px;
    height: 2rem;
    background: black;
    transition: all 0.75s ease-out;

}
.tall-lines {
    width: 31rem;
    height: 2px;
    background: black;
    margin: 5px;
    transition: all 0.75s ease-out;

}
.tall-upperlines {
    width: 2px;
    height: 11rem;
    background: black;
    margin: 5px;
    transition: all 0.75s ease-out;

}
.tall-lines2 {
    width: 21rem;
    height: 2px;
    background: black;
    margin: 5px;
    transition: all 0.75s ease-out;

}
.info h1{
    font-size: 30px;
}
.info h2{
    font-size: 15px;
}
.info p{
    font-size: 10px;
}
.stats{
    font-size: 10px;
    padding: 3px;
    font-weight: bold;
    transition: all 0.75s ease-out;

}
.stats .num {
    font-size: 17px;
}
/* border level */

.border-level {
    position: absolute;
    top: 28rem;
    right: 27px;
    width: 17rem;
    font-family: 'Times New Roman', Times, serif;
    width: 250px;
    align-items: center;
    transition: all 0.75s ease-out;

}

.border-body {
    line-height: 0%;
    
}

.border-title1 {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0%;
}
.border-title2 {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0%;
}

.border-title1 p{ 
    font-size: 13px;
}

.border-end {
    display: flex;
    justify-content: space-between;
}

/* Making table with only divs */

.divTable{
	display: table;
	width: 100%;
    column-count: 10;
}
.divTableBody {
	display: table-row-group;
}
.divTableRow {
	display: table-row;
}

.class1, .class2{
	border: 1px solid #000000;
	display: table-cell;
	padding: 3px 10px;
    column-span: 1;
}
.class1 {
   columns: 4;
   background-color:#ff000d;
}
.class2 {
    columns: 6;
    background-color: rgba(18, 148, 18, 0.7);
}

/* Making the status */

.status-name {
    position: absolute;
    bottom: 237px;
    left: 53px;
    font-size: smaller;
    transition: all 0.75s ease-out;

}
.status-title {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 32rem;
    right: 36px;
    width: 361px;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.75s ease-out;

}
.status {
    position: absolute;
    top: 33rem;
    right: 24px;
    width: 90%;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.75s ease-out;

}


.statusTable{
	display: table;
	width: 100%;
    column-count: 24;
    transition: all 0.75s ease-out;

}
.statusTableBody {
	display: flex;
}
.statusTableRow {
	display: table-row;
}

/* Phones */

@media (max-width: 900px) {
    .status-name {
        display: none;
    }
}
